<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanged Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <head>
        <h1>Le jeu du pendu</h1>
    </head>
    <div class="container-parent">
    <div class="container" id="score">
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>

    <div class="container" id="game">
        <div class="game" id="right-letters">
            <br>
        </div>
        <div class="game" id="wrong letters">
            
        </div>
    </div>

    <div class="container" id="input-letters">
        <br>
    </div>
    </div>

    <footer>
        <p>Project lead by A.Nassuif</p>
        <p>With the participation of M.Soumare, S.Cointin, D.Samaky & L.Bayon</p>
    </footer>
</body>
</html>